<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzgg.test.mapper.ShiroUserMapper">
	<select id="findByName" parameterType="String" resultType="ShiroUser">select id,name,password,perms  from shiro_user where name=#{value}</select>
	<select id="findById" parameterType="int" resultType="ShiroUser">select id,name,password,perms from shiro_user where id=#{value}</select>
</mapper>